@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rochester&display=swap');

@import "tailwindcss";


/* @config "../../tailwind.config.js"; */

/* @utility bg-violet-300 {
  @apply bg-violet-300;
} */

@theme {
  --color-violet-50: #eeeaf2;
  --color-violet-100: #cabcd7;
  --color-violet-200: #b09cc4;
  --color-violet-300: #8c6fa9;
  --color-violet-400: #765399;
  --color-violet-500: #54287f;
  --color-violet-600: #4c2474;
  --color-violet-700: #3c1c5a;
  --color-violet-800: #2e1646;
  --color-violet-900: #231135;
  --color-yellow: '#FEEA00';
  --font-rochester: 'Rochester';
  /* --color-luber: #3ab7bf;
  --color-bermuda: #78dcca;*/
}

/* @import './base.css';*/

/* .navbar-scroll {
  @apply z-40 bg-violet-300;
} */

#app {
  font-family: 'Roboto';
}
/*

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
